{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.a{
	color:black;
}
</style>
<div class='container' style="background-color: rgba(232, 236, 241, 1); font-size: 15px;">
	<h3 class="a" style="text-align: center;"><u><b>Register page</b></u></h3><br>
	<div class='row a'>
		<div class='col-md-6'>

 <form action="" method="post" class="">
  {% csrf_token %}
<p>{{form|crispy}}</p>
        
<button type="submit" name="save" class="btn btn-info">signup </button> 
        
    </form><br><br><br><br><br><br>
</div>
<div class="col-md-6">
	<img src="{% static 'img/register.png' %}" style="width: 450px;height: 350px">
</div>
</div>
</div>
{% endblock %}